{% extends 'base.html.jinja' %}
{% block content %}
    <h2 class="text-center mt-3 mb-3">Ekstrakcja opinii</h2>
    <form action="{{ url_for('extract') }}" method="post">
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="product_id" class="col-form-label">Kod produktu</label>
            </div>
            <div class="col-auto">
                <input type="text" name="product_id" id="product_id" class="form-control" aria-describedby="idHelpInline" placeholder="Podaj kod produktu">
            </div>
            <div class="col-auto">
                <span id="idHelpInline" class="form-text"> Kod produktu składa się z 8-10 cyfr.
                </span>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-warning">Pobierz opinie</button>
            </div>
        </div>
    </form>
    {% if error is defined %}
    <div class="alert alert-warning alert-dismissible fade show mt-3" role="warning">
        <strong>Error!</strong> {{error}}
        <button type="button" class="btn-close" data-bs-dismiss="warning" aria-label="Close"></button>
    </div>
    {% endif %}

{% endblock %}