{% extends "base.html.jinja"%}
{% block title %}Lista produktów{%endblock%}
{% block content %}
    <ol>
    {% for product in products %}
        <a href="{{ url_for('product', product_id=product_id) }}" class="fs-5 text-body"><li>{{ product_id }}</li></a>
    {% endfor %}
    </ol>
{% endblock %}